# enviroment files
/scrapy-env

# cache files
*/.scrapy

# log files
*/*.log

# env files
.env

# data files
*/data/*.xlsx
*/data/*.json
*/data/*.jsonl
*/data/*.html
*/data/*.csv

# __pycache__ files
*/*/__pycache__
*/*/*/__pycache__